<section class="py-5 text-center container">

  <%= @user.nickname %>さんのマイページ<br>

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

  <%= link_to "トップページへ戻る", root_path, class: "btn btn-primary" %>

</section>