.favorite-btn-text {
  margin-left: 5px;
}

.btn-outline-danger.active, 
.btn-outline-danger:active, 
.btn-outline-danger:focus, 
.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
