// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-link {
  text-decoration: none;
}

.recipe-title {
  font-size: 30px;
  margin-top: 30px;
}

.recipe-headline {
  font-size: 20px;
}

.container {
  margin-top: 50px;
}