// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-subtitle {
  margin-top: 20px;
}

.destroy-allbtn {
  margin-top: 20px;
}

.calender {
  margin-top: 50px;
}

.top-btn {
  margin-top: 50px;
}